
//
*{padding: 0;margin: 0;}
#top-btn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  font-size: 45px;
  a {
    color: map-get($paleta , 'gris' );
  }
}  
body {
  margin-top: 2px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: map-get($paleta, 'gris' );
}


.mainX {
  background-color: map-get($paleta, 'rosa' );
  color: map-get($paleta , 'gris' );
 
      
}
.galeria img{
  @include media(100%,75%,5px) ;
}
h4 {
  @extend .navbar-brand;

}

.mail {
  max-width: 990px;
  margin-top: 15px;
}

.btn-rosa {
  background-color: map-get($paleta, 'lila' );
  color: map-get($paleta, 'aqua' );
}

.btn-aqua {
  background-color: map-get($paleta, 'aqua' );
  color: map-get($paleta, 'lila' );
}

iframe {
  @extend .mail;
  margin-top: 15px;
  max-width: 78%;
  max-height: 86%;
}

.footerBg{
  background-color: map-get($paleta,'aqua');
  color: map-get($paleta, 'lila' );
}


svg{

  font-size: 42px;
  margin: 30px;

}

