
//
*{padding: 0;margin: 0;}
#top-btn {
  position: fixed;
  bottom: 42px;
  right: 24px;
  z-index: 99;
  font-size: 45px;
  a {
    color: map-get($paleta , 'gris' );
  }
}  

body { 
  background-color: map-get($paleta, 'rosa' );
  margin-top: 2px;

  text-align: center;
  font-family: 'Rubik', sans-serif;
 
}


.mainX {
  background-color: map-get($paleta, 'rosa' );
  color: map-get($paleta , 'gris' );
 
      
}
#story, #catalog{
  margin: 24px 50px;
}


.galeria img {
  @include media(100%,75%,5px) ;
}


.mail {
  max-width: 990px;
  margin-top: 15px;
}

.btn-rosa {
  background-color: map-get($paleta, 'lila' );
  color: map-get($paleta, 'aqua' );
}
iframe {
  padding: 15px;
  max-width: 94%;
  max-height: 94%;
}

.mail {
  max-width: 970px;
  margin: 20px auto;
  }

.btn-rosa {
  background-color: map-get($paleta, 'rosa' );
  border: dashed;
  color: map-get($paleta, 'gris' );

}

.btn-aqua {
  background-color: map-get($paleta, 'aqua' );

  color: map-get($paleta, 'lila' );
}

iframe {
  @extend .mail;
  margin-top: 15px;
  max-width: 78%;
  max-height: 86%;
}

.footerBg{
  background-color: map-get($paleta,'aqua');
  color: map-get($paleta, 'lila' );

  border: solid;
  color: map-get($paleta, 'gris' );

}

.footerBg {
  background-color: map-get($paleta,'aqua');
  color: map-get($paleta, 'lila' );
  a {
    color: map-get($paleta , 'gris' );
  }
}
.sitemap {
      ul {
      list-style: none;
      padding: 0;
      li {    
        line-height: 15px;
      }
    } 
}


 svg {

   font-size: 42px;
   margin: 30px;

 }

