
.navbar-dark .navbar-brand {
    color: $rosa;
  }

.navbar-dark .navbar-nav .nav-link {
    color: $aqua;
  }
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: $aqua;
  font-weight: bold;
    
  }


.footerBg{background-color: $aqua;}
.footerBg h3 { text-align: center;}



// .paddingTB{padding-top: 50px;padding-bottom: 50px;}


// .paddingT{padding-top: 50px;}

// .paddingLR{padding-left: 10px; padding-right: 10px;}



