
//
/* Declaracion de colores */
$paleta: (
    'aqua': #37d1d6,
    'rosa': #df9dcb,
    'lila': #751d69,
    'gris': #494949,
);
@mixin media($mh,$w,$mt){
    max-height: $mh;
    width: $w;
    margin-top: $mt;
}
