*{padding: 0;margin: 0;}

body {
    background-color: #cf9ddf;
    text-align: center;
}
.pie a {
    margin: 15px;
    width: 30px;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}
main {
    margin: 15px;
    padding: 10px;
}